/* header */
body{
    background-color: #ffffff;
    color: #373737;
    font-family: 'Montserrat', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
}

.site-nav{
    list-style: none;
    margin: 32px 0;
    padding: 0;
    text-align: center;
}

.site-nav li{
  display: inline-block;
  margin-right: 72px;
}

.site-nav li:last-child{
    margin-right: 0;
}



.link{
    color: #FF0000;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 2.7px;
    text-decoration: none;
    text-transform: uppercase;
}

/* main */

.title{
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;
    letter-spacing: 3.3px;
    text-align: left;
    text-transform: uppercase;
    margin: 48px 253px 38px;
}

.main-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 2.4px;
    text-align: center;
    margin: 0 68px 38px;
}

.btn{
    background-color: #FF0000;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1.8px;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
    width: 191px;
    height: 51px;
    text-transform: uppercase;
    text-align: center;
    margin: 46px 544px 83px;
    padding: 18px 43px 17px;
}

/* footer */

.footer-text{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 2.4px;
    text-align: right;
    margin:0 105px 29px;
}